.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    &--align-left {
        justify-content: flex-start;
    }

    &__icon {
        margin-right: 10px;
    }

    &__logo {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    &__title {
        margin: 0;
    }
}