.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__logo {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    &__title {
        margin: 0;
    }

}