.repositories {
  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }

  p {
    color: var(--secondary-gray);
  }
}