/* You can add global styles to this file, and also import other style files */

body {
  background: var(--athens-gray);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--mat-tree-node-text-font);
}

a {
  color: var(--primary-gray);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mat-icon {
  color: var(--primary-gray);
}