/* You can add global styles to this file, and also import other style files */

body {
  background: var(--athens-gray);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--mat-tree-node-text-font);
}

a {
  color: #181818;
  text-decoration: none;
}