
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "sass:map";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// palette
$ng-github-search-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #181818,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: var(--secondary-gray),
    700: var(--secondary-gray),
    800: var(--secondary-gray),
    900: var(--secondary-gray),
    A100: white,
    A200: white,
    A400: white,
    A700: var(--secondary-gray),
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-github-search-primary: mat.define-palette($ng-github-search-palette);
$ng-github-search-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$ng-github-search-warn: mat.define-palette(mat.$red-palette);

// typography
$ng-github-search-theme-typography: mat.define-typography-config(
  $font-family: '"Apercu Regular Pro", "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 24px, 400),
  $headline-6: mat.define-typography-level(20px, 20px, 400),
  $body-1: mat.define-typography-level(16px, 16px, 400),
  $body-2: mat.define-typography-level(14px, 14px, 400)
);
@include mat.typography-hierarchy($ng-github-search-theme-typography);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-github-search-theme: mat.define-light-theme((
  color: (
    primary: $ng-github-search-primary,
    accent: $ng-github-search-accent,
    warn: $ng-github-search-warn
  ),
  density: 0,
  typography: $ng-github-search-theme-typography
));

@include mat.core-theme($ng-github-search-theme);
@include mat.all-component-themes($ng-github-search-theme);