
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "sass:map";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-github-search-primary: mat.define-palette(mat.$grey-palette);
$ng-github-search-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$ng-github-search-warn: mat.define-palette(mat.$red-palette);

// Typography
$ng-github-search-theme-typography: mat.define-typography-config(
  $font-family: '"Apercu Regular Pro", "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 24px, 400),
  $headline-6: mat.define-typography-level(20px, 20px, 400),
  $body-1: mat.define-typography-level(16px, 16px, 400),
  $body-2: mat.define-typography-level(14px, 14px, 400)
);
@include mat.typography-hierarchy($ng-github-search-theme-typography);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-github-search-theme: mat.define-light-theme((
  color: (
    primary: $ng-github-search-primary,
    accent: $ng-github-search-accent,
    warn: $ng-github-search-warn
  ),
  density: 0,
  typography: $ng-github-search-theme-typography
));

@include mat.core-theme($ng-github-search-theme);
@include mat.all-component-themes($ng-github-search-theme);

// Classes for custom theme
%mdc-line-ripple {
  &::before {
    border-bottom-width: 0 !important;
  }
  &::after {
    border-bottom-width: 0 !important;
  }
}

%mdc-text-field {
  --mdc-filled-text-field-container-shape: 12px;
  border: 2px solid transparent;
  border-bottom-right-radius: var(--mdc-filled-text-field-container-shape);
  border-bottom-left-radius: var(--mdc-filled-text-field-container-shape);
}

%mat-form-field {
  .mdc-line-ripple {
    @extend %mdc-line-ripple;
  }

  .mdc-text-field {
    @extend %mdc-text-field;

    &--invalid {
      border-color: var(--mdc-filled-text-field-error-active-indicator-color) !important;
    }
  }
}

mat-form-field {
  // mat-form-field
  &.custom-form-field {
    --mat-form-field-state-layer-color: var(--catskill-whiteapprox);
    --mat-form-field-focus-state-layer-opacity: 1;
    --mdc-filled-text-field-container-color: var(--catskill-whiteapprox);
    @extend %mat-form-field;
  }

  // mat-select
  &.custom-form-field-select {
    --mat-form-field-state-layer-color: white;
    --mat-form-field-focus-state-layer-opacity: 0;
    --mdc-filled-text-field-container-color: white;
    @extend %mat-form-field;
    
    .mdc-text-field {
      &--filled {
        &:not(&--disabled) {
          border: 2px solid var(--catskill-whiteapprox);
        }
      }
  
      &--focused {
        border-color: var(--athens-gray) !important;
      }
    }

    mat-select {
      .mat-mdc-select-arrow-wrapper {
        position: relative;

        &:after {
          content: '';
          position: relative;
          width: 18px;
          height: 6px;
          background-image: url('../assets/icons/select-arrow.svg');
        }
     
        .mat-mdc-select-arrow {
          display: none;
        }
      }
    }
  }
}

// mat-button
.mdc-button.custom-button {
  --mdc-filled-button-container-color: var(--primary-gray);
  --mdc-filled-button-label-text-color: white;
  --mdc-filled-button-container-shape: 12px;
}