:root {
    --athens-gray: #E8EAEE;
    --catskill-whiteapprox: #F2F4F8;
    --primary-gray: #181818;;
    --secondary-gray: #999FAA;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --default-padding-mobile: 20px;
    --default-padding-desktop: 40px;
}