:host {
  display: flex;
  flex-flow: column;
  margin: 0 0 20px 0;
  transition: all 0.2s linear;

  &:hover {
    .repository {
      background-color: var(--catskill-whiteapprox);
    }
  }
}

.repository {
  display: flex;
  flex-flow: column;
  padding: 20px;
  border-radius: 20px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__author {
      font-size: 1rem;
      margin: 0 10px 0 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    gap: 20px;

    @media screen and (max-width: 650px) {
     flex-flow: column;
     align-items: flex-start;
    }
  }

  &__badge {
    margin-right: 10px;
  }

  p, span {
    color: var(--secondary-gray);
  }

  &__icon {
    margin-right: 5px;
  
    &--fork {
      width: 14px;
      height: 14px;
    }

    &--star {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  &__language {
    width: 140px;
  }

  &__forks, &__stars {
    display: inline-flex;
    align-items: center;
  }
}
