<div class="repository">    
    <div class="repository__content">
        <div class="repository__header">
            <a [href]="repository.html_url" target="_blank" class="repository__author">{{ repository.name }}</a>
            <app-badge class="repository__badge">{{ repository.private ? 'Private' : 'Public'}} </app-badge>
            @if (repository.fork) { <app-badge class="repository__badge">Forked</app-badge> }
        </div>

        <p>{{ repository.description }}</p>

        <div class="repository__footer">
            <span class="repository__language">Language: @if (repository.language) { {{ repository.language }} } @else { None }</span>
            <span class="repository__forks">
                <mat-icon
                    svgIcon="code-fork"
                    class="repository__icon repository__icon--fork"
                    alt="Forks"
                    title="Forks"
                ></mat-icon>Forks: {{ repository.forks_count}}</span>
            <span class="repository__stars">
                <mat-icon
                    class="repository__icon repository__icon--star"
                    alt="Stars"
                    title="Stars"
                >star</mat-icon>{{ repository.stargazers_count }}
            </span>
            <span class="repository__updated">Last update: {{ repository.updated_at | date : 'dd/MM/yyyy HH:mm'}}</span>
        </div>
    </div>
</div>