<div class="repository">    
    <div class="repository__content">
        <div class="repository__header">
            <a [href]="repository.html_url" target="_blank" class="repository__author">{{ repository.name }}</a>
            <app-badge class="repository__badge">{{ repository.private ? 'Private' : 'Public'}} </app-badge>
            <app-badge *ngIf="repository.fork" class="repository__badge">Forked</app-badge>
        </div>

        <p>{{ repository.description }}</p>

        <div class="repository__footer">
            <span>Language: @if (repository.language) { {{ repository.language }} } @else { None }</span>
            <div class="repository__forks">
                <span>Forks: {{ repository.forks_count}}</span>
            </div>
            <div class="repository__updated">
                <span>Last update: {{ repository.updated_at | date : 'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </div>
    </div>
</div>