main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  background-color: white;
  padding: 0;
  margin: 20px 0;
  border-radius: 20px;
}

@media screen and (max-width: 650px) {
  main {
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .content {
    flex-direction: column;
    margin: 10px;
  }
}