:host {
  display: block;
}

.result-search {
  &__user {
    display: block;
    margin: 40px 0 20px 0;
  }

  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;

    @media screen and (max-width: 650px) {
      flex-flow: column;
    }
  }
}