.user-details {
  display: flex;
  flex-flow: row;

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
  }

  &__label {
    display: flex;
    margin-bottom: 10px;

    p {
      margin: 0;
      display: inline-flex;
      align-items: center;
    }

    &--name {
      margin: 0;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__divider {
    color: var(--athens-gray);
    display: inline-block;
    margin: 0 5px;
  }

  p,
  span:not(&__divider) {
    color: var(--secondary-gray);
  }

  @media screen and (max-width: 650px) {
    flex-flow: column;
    align-items: center;

    &__avatar {
      margin-bottom: 40px;
    }
  }
}
