<div class="user-details">
  @if (user) {
    <img
      class="user-details__avatar"
      [src]="user.avatar_url"
      alt="Avatar"
      [title]="user.name"
    />
    <div class="user-details__content">
      <div class="user-details__label user-details__label--name">
        <h2>
          @if (user.name) { {{ user.name }}<span class="user-details__divider">|</span>} <span>{{ user.login }}</span>
        </h2>
      </div>
      <div class="user-details__label" *ngIf="user.bio">
        <p>{{ user.bio }}</p>
      </div>
      <div class="user-details__label">
        <p>
          <mat-icon class="user-details__icon" title="Followers and following">group</mat-icon>Followers:
          {{ user.followers }}<span class="user-details__divider">|</span>Following: {{ user.following }}
        </p>
      </div>
      <div class="user-details__label" *ngIf="user.location">
        <p>
          <mat-icon class="user-details__icon" title="Location">location_on</mat-icon>{{ user.location }}
        </p>
      </div>
      <div class="user-details__label">
        <p><mat-icon title="Stars" class="user-details__icon">star</mat-icon>{{ user.starred_url }}</p>
      </div>
    </div>
  }
</div>