.user-details {
  display: flex;
  flex-flow: row;

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
  }

  &__label {
    display: flex;
    margin-bottom: 10px;

    p {
      margin: 0;
      display: inline-flex;
      align-items: center;
    }
  }

  &__icon {
    margin-right: 10px;
  }
}
