.results {
   padding: 0;
}

.result {
    display: flex;
    flex-flow: row;
    margin: 0 0 40px 0;

    &__header {
        display: flex;
        align-items: flex-start;

        h4 {
            margin: 0 15px 15px 0;
        }
    }

    &__footer {
        display: flex;
        align-items: flex-start;
        margin: 15px 0 0 0;
        justify-content: space-between;
    }

    &__content {
        flex: 1;
    }

    &__author {
        margin-right: 10px;
        font-size: 20px;
    }

    &__avatar {
        width: 72px;
        height: 72px;
        border-radius: 8px;
        margin-right: 15px;
    }

    &__followers {
        display: flex;
        align-items: center;
    }

    &__icon {
        &--group {
            margin-right: 10px;
        }
    }
}