:host {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: default;
  color: var(--secondary-gray);
  background-color: white;
  border: 1px solid var(--catskill-whiteapprox);
}
