<form class="search">
    <mat-form-field class="search__input">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Search user</mat-label>
      <input type="search" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sort by:</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="option1">Most followers</mat-option>
        <mat-option value="option2">Most repositories</mat-option>
        <mat-option value="option3">Most stars</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" class="search__button">Search</button>
</form>